<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Form</title>
</head>
<body>
    <h2>you are about to edit the userName of : <%=user.email%></h2>
    <form action="/user/<%=user.id%>?_method=PATCH" method="post">
        <textarea name="username" > <%=user.username%></textarea>
        <br>
        <label for="password">Enter your password to save changes</label>
        <input type="password" name="password" placeholder="password">
        <button>EDIT</button>
    </form>
</body>
</html>